<html>
    <head>
        <style>
            div{
                font-size: 25px;
            }
            body{
                background-color: #F8D5A8;
            }
        </style>
    </head>
    <body>
        <h1>INSTRUCTIONS</h1>
        <div>
            <b>1.</b> Enter the table name<br /><br />
            <b>2.</b> Upload the excel file in the Excel to Queries slider. <br />
            &emsp;<b>2.1</b> Scroll once downwards for Excel to Queries slider.<br />	
            &emsp;<b>2.2</b> Excel file should be in the below format.<br /> 
            &emsp;<b>2.3</b> All the attribute names of the respective columns should be in the first row.<br />
            &emsp;<b>2.4</b> All the data types of the respective columns should be in the last row.<br />
            &emsp;<b>2.5</b> Make sure there are no type errors in the file, giving an unsuitable 
                datatype value in another data type such as ( ID was declared as INTEGER and given a CHARACTER).<br />
            &emsp;<b>2.6</b> Make sure there is noisy data such as undesired symbols.<br /><br />

            <b>3.</b> Upload the image in the image to Excel slider.<br />
            &emsp;<b>3.1</b> Scroll twice downwards for the image to excel slider.<br />
            &emsp;<b>3.2</b> Image should be clear and crisp without any distortion.<br />
            &emsp;<b>3.3</b> After uploading the image the output excel file will be downloaded to your pc.<br />
            &emsp;<b>3.4</b> Review all the cells in the output file and check there are no errors and edit 
                the desired changes and save the excel file and then input the excel file to 
                Excel to queries slider to get the queries output.<br /><br />
            <b>4.</b> Paste the output queries on my SQL workbench or oracle to create the database table.<br />
        </div>
    </body>
</html>